target/
**/target/
**/target/**



.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/

storage-api/target/
storage-application/target/
storage-domain/target/
storage-gateway/target/
storage-infrastructure/target/
storage-presentation/target/
